h1 {
  font-size: 52px;
  color: #e814e1;
  font-weight: bolder;
}

.article {
  border-top-style: solid;
  font-style: italic;
  color: green;
  padding: 12px;
  border: 2px solid green;
  width: 900px;
  margin-top: 6px;
  clear: both;
}

.about {
  font-weight: bolder;
  font-stretch: extra-condensed;
  color:gray;
  font-size: 22px;
}

img {
  float: left;
}

.topbar {
  text-align: center;
  width: 80%;
  float: none;
  height: 36px;
  background-color: gray;
}

.column {
  width: 300px;
  float: left;
  margin: 12px;
  padding: 4px;
  background-color: #efefef
}
